.navbar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 8px 40px;
    background-color: white;
}

.nav-list {
    /* margin: 0 auto; */
    display: flex;
    align-items: center;
}

.nav-item {
    /* display: flex;
    align-items: center; */
    font-weight: bold;
    color: black;
    font-size: 18px;
    padding: 8px 12px;
}

.active {
    color: #325274;
    border-radius: 0;
    border-bottom: 2px solid #325274;
}

.nav-session {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    font-size: 18px;
    background-color: #bad0e7;
    border-radius: 8px;
}

.nav-session img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 8px;
}

#signout:hover {
    cursor: pointer;
}
  