.topics{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    border-top: solid 1px #000000;
    margin:30px auto;
}

.topics__container{
    display: flex;
    justify-content: space-between;
    width: 75%;
    padding: 1em 2em;
    border-radius: 62px 16px 55px 16px;
    -webkit-border-radius: 62px 16px 55px 16px;
    -moz-border-radius: 62px 16px 55px 16px;
    box-shadow: 7px 8px 15px -6px rgba(0,0,0,0.56);
    -webkit-box-shadow: 7px 8px 15px -6px rgba(0,0,0,0.56);
    -moz-box-shadow: 7px 8px 15px -6px rgba(0,0,0,0.56);


}

a[href='a']{
    text-decoration: none;
    color: black;
    font-family: 'roboto';
    font-size: 15px;
    padding: .5em .8em;
    background: #FFFFFF;
    box-shadow: -1px -1px 2px #FFF2E4, 2px 2px 3px #608BB9;
    border-radius: 8px;
}



